@font-face{
    font-family: "oswald";
    src: url(Oswald-VariableFont_wght.ttf);
}
body{
    font-family: "oswald", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin: 0 50px;
    padding-top: 50px;
    max-width: 700px;
    border-bottom: 1px solid #900830;
}

.header__img{
    border-radius: 50%;
    border: 5px solid #857575;
}

.head__name{
    font-size: 2.5em;
    margin-bottom: 10px;
}
.head__prof{
    color: #857575;
    margin: 0 0 10px;
}


.head__body{
    font-size: 2em;
    margin-top: 0;
    color: #1f203e;
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 50px 0;
    max-width: 700px;
    border-bottom: 1px solid #900830;
    padding-bottom: 50px;
}
.education__block{
    display: flex;
    align-items:center;
    width: 100%;
    margin-bottom: 20px;
}
.logo{
    border-radius: 7px;
    width: 70px;
    height: 70px;
}
.university{
    margin-left: 50px;
    width: 100%;
}
.university__head{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
 .head__university{
    font-size: 1.5em;
    margin: 0;
 }
 .faculty, .years{
    margin: 0;
    color: #857575;
 }
 .specialization{
    margin: 0;
 }
.list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    width: 100%;
}
.code{
    margin: 10px 0 10px;
    padding: 20px;
    color: #abb2b1;
    background-color: #23272e;
    border-radius: 5px;
}
.func{
    color: #c678dd;
}
.name__func{
    color: #57afef;
}
.symb{
    color: #d19a5d;
}
.var{
    color: #c26c75;
}
.portfolio{
    margin-top: 30px;
}
.porfolio__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 250px;
}
.item__img{
    width: 100%;
    height: 200px;
}
.porfolio__item:hover {
    background-color: #8575753d;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px #23272e;
}
.porfolio__item:hover > img {
    border-radius: 0;
}
.name__website{
    margin-top: 10px;
}
.footer{
    height: 100px;
    width: 100%;
    background-color: #23272e;
}