@font-face{
    font-family: "oswald";
    src: url(Oswald-VariableFont_wght.ttf);
}
body{
    font-family: "oswald", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin: 0 50px;
    padding-top: 50px;
    max-width: 700px;
    border-bottom: 1px solid #900830;
}

.header__img{
    border-radius: 50%;
    border: 5px solid #857575;
}

.head__name{
    font-size: 2.5em;
    margin-bottom: 10px;
}
.head__prof{
    color: #857575;
    margin: 0 0 10px;
}


.head__body{
    font-size: 2em;
    margin-top: 0;
    color: #1f203e;
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 50px 0;
    max-width: 700px;
    border-bottom: 1px solid #900830;
}
.education__block{
    display: flex;
    align-items:center;
    width: 100%;
    margin-bottom: 50px;
}
.logo{
    border-radius: 7px;
    width: 70px;
    height: 70px;
}
.university{
    margin-left: 50px;
    width: 100%;
}
.university__head{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
 .head__university{
    font-size: 1.5em;
    margin: 0;
 }
 .faculty, .years{
    margin: 0;
    color: #857575;
 }
 .specialization{
    margin: 0;
 }
